.buttons001 {
    border:1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: context-menu;
}

.buttons001 {
    border:1px solid black;
    background-color: black;
    color: black;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: context-menu;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 0fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;
  height:60px;
  width:60px;
  cursor: context-menu;
  display: inline-block;
}

.grid-item2 {
  border: 1px solid #ddd;
  text-align: center;
  height:60px;
  width:60px;
  cursor: context-menu;
  display: inline-block;
  background-color: black;
}

.grid-borders {

  text-align: center;
  height:60px;
  width:60px;
  background-color: white;
}

.hint {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 3px;
}
.hint-section {
  margin-left: 40px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 8px;
}
